{% if locale == "fr" %}
  <strong>
   Consultations et téléchargements en direct des thèses de doctorat françaises référencées sur <a href="https://theses.fr/">theses.fr</a>.
  </strong>
{% endif %}

{% if locale == "en" %}
  <strong>
    Live consultations and downloads of French doctoral theses referenced on <a href="https://theses.fr/">theses.fr</a>.
  </strong>
{% endif %}